<launch>
    <node pkg="arx_x5_controller" type="X5Controller" name="arm_l">
        <param name="arm_control_type" value="normal_old"/>
        <param name="arm_can_id" value="can1"/>
        <param name="arm_pub_topic_name" value="/arm_l_status"/>
        <param name="arm_sub_topic_name" value="/joint_control"/>
        <param name="arm_end_type" value="0"/>

        <param name="arm_pub_topic_name_joint_old" value="/joint_information"/>
        <param name="arm_pub_topic_name_ee_old" value="/pos_back"/>
    </node>

    <node pkg="arx_x5_controller" type="X5Controller" name="arm_r">
        <param name="arm_control_type" value="normal_old"/>
        <param name="arm_can_id" value="can3"/>
        <param name="arm_pub_topic_name" value="/arm_r_status"/>
        <param name="arm_sub_topic_name" value="/joint_control_2"/>
        <param name="arm_end_type" value="0"/>

        <param name="arm_pub_topic_name_joint_old" value="/joint_information2"/>
        <param name="arm_pub_topic_name_ee_old" value="/pos_back_2"/>
    </node>
</launch>