<launch>
    <node pkg="arx_r5_controller" type="R5Controller" name="arm_master_l">
        <param name="arm_control_type" value="aloha_master_old"/>
        <param name="arm_can_id" value="can0"/>
        <param name="arm_pub_topic_name" value="/arm_master_l_status"/>
        <param name="arm_sub_topic_name" value="/arm_master_l_cmd"/>
        <param name="arm_end_type" value="1"/>

        <param name="arm_pub_topic_name_ee_old" value="/master1_pos_back"/>
    </node>

    <node pkg="arx_r5_controller" type="R5Controller" name="arm_master_r">
        <param name="arm_control_type" value="aloha_master_old"/>
        <param name="arm_can_id" value="can2"/>
        <param name="arm_pub_topic_name" value="/arm_master_r_status"/>
        <param name="arm_sub_topic_name" value="/arm_master_r_cmd"/>
        <param name="arm_end_type" value="1"/>

        <param name="arm_pub_topic_name_ee_old" value="/master2_pos_back"/>
    </node>

    <node pkg="arx_r5_controller" type="R5Controller" name="arm_slave_l">
        <param name="arm_control_type" value="aloha_slave_old"/>
        <param name="arm_can_id" value="can1"/>
        <param name="arm_pub_topic_name" value="/arm_slave_l_status"/>
        <param name="arm_sub_topic_name" value="/arm_master_l_status"/>
        <param name="arm_end_type" value="0"/>

        <param name="arm_pub_topic_name_joint_old" value="/joint_information"/>
        <param name="arm_pub_topic_name_ee_old" value="/follow1_pos_back"/>
    </node>

    <node pkg="arx_r5_controller" type="R5Controller" name="arm_slave_r">
        <param name="arm_control_type" value="aloha_slave_old"/>
        <param name="arm_can_id" value="can3"/>
        <param name="arm_pub_topic_name" value="/arm_slave_r_status"/>
        <param name="arm_sub_topic_name" value="/arm_master_r_status"/>
        <param name="arm_end_type" value="0"/>

        <param name="arm_pub_topic_name_joint_old" value="/joint_information2"/>
        <param name="arm_pub_topic_name_ee_old" value="/follow2_pos_back"/>
    </node>
</launch>